.editArea{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/source.gif);
    color: white;
    text-align: left;
}

.editTextArea {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/source.gif);
    color: white;
}

.editTextTitle {
    align-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    width: 30em;
    
}

.editTextDescription {
    align-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    width: 30em;
    height: 10em;
}

.editPage {
    background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/source.gif);
}